<h1>This is pantelis component</h1>
<p [routerLink]="['/dora']">Go to dora cmp <============ (click to go to dora component)</p>
<div (click)="addNumbers(3,4)">click to add numbers <============= (click to run the function addNumbers with parameters 3 and 4)</div>


<div>
  --------------Displays Parameters-------------------------
  <p>num1 = {{num1}}</p>
  <p>num2 = {{num2}}</p>
</div>


-----------There is an ngIf directive and display the content only if the parameter sum take value------------------
<div *ngIf="sum">sum is {{sum}}</div>


----------------ngFor directive to read a list of items-------------------
<div *ngFor="let item of items">
    {{item.id}}: {{item.name}}
</div>
